.card.card-inverse.card-info.text-xs-center
  .card-block
    h1 Total: #{number_with_delimiter(@donors.count, delimiter: ",")} Donors

.table-responsive
  = form_tag donors_path, method: :get do
    table.table
      thead.thead-default
        tr
          td colspan="3"
            .container-fluid
              .row
                .col-xs-6.col-sm-6.col-md-8
                  .input-group
                    = text_field_tag :search, params[:search], placeholder: "Search by donor name or NRIC/UEN ...", class: "form-control"
                    span.input-group-btn
                      = submit_tag "Search", name: :nil, class: "btn btn-secondary"
                .col-xs-6.col-sm-6.col-md-4
                  = select_tag :cause_id, options_from_collection_for_select(Cause.all, :id, :name, params[:cause_id]), prompt: "Filter by cause:", class: 'form-control', onchange: "cause_toggle(this.value)"
        tr
          th 
            | Name
            = sortable :name
          th 
            | NRIC/UEN
            = sortable :identification
          th
            | Total Donations
            = sortable :total_donations
          th
      tbody
        tr
          - if @donors.blank? && params[:search].present?
            h4 There are no donors matching <em>#{params[:search]}</em>.
        - @donors.each do |donor|
          tr
            td = donor.name
            td = link_to donor.identification, donor_path(donor)
            td $#{number_with_delimiter(donor.total_donations(params[:cause_id]), delimiter: ",")}

.page-links-centered
  .row
    = will_paginate @donors
