<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">E-mail</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Password</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>