.modal.fade#eventModal tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  .modal-dialog.modal-sm role="document"
    .modal-content
      .modal-body
        button.close type="button" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true" &times;
        h5.modal-title Event Details
        = form_for @modal_event, remote: true do |f|
          = render "form", f: f
