<%= render "events/new" %>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <h1>Events</h1>
  </div>
  <div class="col-xs-12 col-sm-4 offset-sm-4 eventsButton">
  	<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#eventModal">
  	  <i class="fa fa-plus" aria-hidden="true"></i>
  	  Add New Event
  	</button>
  </div>
</div>
<%= render "index" %>
