<div class="row">
  <div class="col-xs-12 col-sm-8">
    <h1><%= @event.name %></h1>
  </div>
</div>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Total Donations</th>
      </tr>
    </thead>
    <tbody>
      <% @event.donations.each do |donation| %>
        <tr>
          <td><%= donation.donor.name %></td>
          <td><%= l donation.created_at.to_date %></td>
          <td>$<%= number_with_delimiter(donation.amount.round, delimiter: ",") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
