= link_to "< Back to Event List", events_path
.row
  .col-xs-12
    h1 = @event.name
    p = event_dates(@event)
    p.metadata = event_whodunnit(@event)

.card.card-inverse.card-info.text-xs-center
  .card-block
    h1 Total amount donated
    h1 $#{number_with_delimiter(@event.total_donations(params[:search]), delimiter: ",")}
.table-responsive
  = form_tag @event, method: :get do
    table.table
      thead.thead-default
        tr
          td colspan="4"
            .container-fluid
              .row
                .col-xs-12.col-md-6.offset-md-6
                  div.input-group
                    = text_field_tag :search, params[:search], placeholder: "Search by donor name ...", class: "form-control"
                    span.input-group-btn
                      = submit_tag "Search", name: :nil, class: "btn btn-secondary"
        tr
          th Name #{sortable :donor_name}
          th Date #{sortable :created_at}
          th Donation #{sortable :amount}
          th
      tbody
        tr
          - if @donations.blank? && params[:search].present?
            h4 There is no donor matching <em>#{params[:search]}</em>.
        - @donations.each do |donation|
          tr
            td = donation.donor.name
            td = l donation.created_at.to_date
            td $#{number_with_delimiter(donation.amount.round, delimiter: ",")}
            td
              = link_to edit_donation_path(donation), remote: true do
                i.fa.fa-pencil.fa-lg

.modal.fade#editDonation role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"

.text-xs-center
  .row
    = will_paginate @donations
