<div class="modal fade" id="donationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <%= form_for(@modal_donation) do |f| %>
            <div class="form-group">
              <label for="donorDocs" class="form-control-label">Donor NRIC/UEN Number</label>
              <input type="text" class="form-control" id="donorDocs">
            </div>

        <div class="form-group">
          <%= f.label :amount, class: "control-label" %>
          <%= f.text_field :amount, class: "form-control" %>
        </div>

        <div class="form-group">
          <label for="causeOrEvent" class="form-control-label">Cause or Event:</label>
          <input type="text" class="form-control" id="causeOrEvent">
        </div>

        <div class="actions">
          <%= f.submit class: "btn btn-primary form-control" %>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
