<div class="modal fade" id="donationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5>Donation Details</h5>
        <%= form_for(@modal_donation) do |f| %>
          <%= f.fields_for :donor, @modal_donation.donor do |donor| %>
            <div class="form-group">
              <label for="donorDocs" class="form-control-label">Donor NRIC/UEN</label>
              <%= donor.text_field :identification, class: "form-control", placeholder: "Enter 'Anonymous' if unknown" %>
            </div>
          <% end %>
          <%= render "donations/form", f: f  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
