.nav.navbar-nav {
  &>li>a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }
  .nav-item {
    margin-top: 3px;
  }
  .nav-link:hover {
    color: $brand-primary-orange;
  }
  .dropdown-item a {
    color: inherit;
  }
}
